<ng-template #removeFolderModal>
  <app-confirm-remove [what]="removing.folder.name"
                      (confirmed)="removeFolder()"
                      (canceled)="close()"></app-confirm-remove>
</ng-template>

<ng-template #removeScreenModal>
  <app-confirm-remove [what]="removing.screen.name"
                      (confirmed)="removeScreen()"
                      (canceled)="close()"></app-confirm-remove>
</ng-template>

<sn-app-page-header title="User interface"
                    teaser="How your app is looked"
                    [icon]="localUi.icons.design">
  <ng-template #headerActionsTemplate>
    <sn-stack [orientation]="ui.orientation.horizontal">
      <sn-button text="Add screen"
                 [icon]="localUi.icons.upload"
                 [analytics]="{ goal: 'add_screen' }"
                 (click)="editScreen()"></sn-button>
      <sn-button *ngIf="!folder"
                 text="Add folder"
                 [icon]="localUi.icons.addFolder"
                 [analytics]="{ goal: 'add_folder' }"
                 (click)="editFolder()"></sn-button>
    </sn-stack>
  </ng-template>
</sn-app-page-header>

<sn-stack [align]="ui.align.stretch">
  <sn-collapsible *ngIf="!project.figmaIntegration?.token"
                  title="Integrate Figma"
                  [icon]="ui.icons.figma">
    <ng-template #collapsibleContentTemplate>
      <app-set-figma-token [project]="project"
                           (updated)="projectUpdated($event)"></app-set-figma-token>
    </ng-template>
  </sn-collapsible>

  <ng-template #noDataTemplate>
    <sn-block data-empty [width]="ui.width.fluid"
              [padding]="ui.gutter.huge">
      <sn-empty message="No screens of design yet">
        <ng-template #emptyImageTemplate>
          <!-- @formatter:off -->
          <svg width="120" height="120" viewBox="0 0 120 120" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 60C0 26.8629 26.8629 0 60 0V0C93.1371 0 120 26.8629 120 60V60C120 93.1371 93.1371 120 60 120V120C26.8629 120 0 93.1371 0 60V60Z" fill="#BFE8EB"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M66.948 47.4946H53.0522C49.983 47.4946 47.4949 49.9827 47.4949 53.0519V66.9477C47.4949 70.017 49.983 72.505 53.0522 72.505H66.948C70.0172 72.505 72.5053 70.017 72.5053 66.9477V53.0494C72.5039 49.9812 70.0162 47.4946 66.948 47.4946Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M56.2735 55.3903C56.4527 55.5689 56.5066 55.838 56.4099 56.0719C56.3133 56.3058 56.0851 56.4583 55.8321 56.4583C55.579 56.4583 55.3509 56.3058 55.2542 56.0719C55.1575 55.838 55.2114 55.5689 55.3906 55.3903C55.5075 55.2728 55.6664 55.2068 55.8321 55.2068C55.9978 55.2068 56.1566 55.2728 56.2735 55.3903" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M72.5053 58.7492C71.9258 58.6613 71.3407 58.6145 70.7546 58.6092C67.2206 58.5841 63.8534 60.1104 61.543 62.7847C59.2326 65.459 58.2115 69.0121 58.7496 72.505" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M67.5032 82.509H72.5053C78.0304 82.509 82.5094 78.03 82.5094 72.5049V69.0034" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M50.9963 37.4902H47.4949C41.9697 37.4902 37.4907 41.9693 37.4907 47.4944V50.9959" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M37.4907 69.0034V72.5049C37.4907 78.03 41.9697 82.509 47.4949 82.509H50.9963" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M82.5094 50.9959V47.4944C82.5094 41.9693 78.0304 37.4902 72.5053 37.4902H67.5032" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          <!-- @formatter:on -->
        </ng-template>
        <ng-template #emptyDescriptionTemplate>
          <sn-stack [padding]="ui.gutter.normal"
                    [orientation]="ui.orientation.horizontal"
                    [align]="ui.align.center">
            <sn-button text="Add screen" i18n-text="@@action.add"
                       [icon]="localUi.icons.upload"
                       [analytics]="{ goal: 'add_screen' }"
                       (click)="editScreen()"></sn-button>
            <ng-container *ngIf="!folder">
              <p>or</p>
              <sn-button text="Add folder" i18n-text="@@action.add"
                         [icon]="localUi.icons.addFolder"
                         [analytics]="{ goal: 'add_folder' }"
                         (click)="editFolder()"></sn-button>
            </ng-container>
          </sn-stack>
        </ng-template>
      </sn-empty>
    </sn-block>
  </ng-template>

  <ng-container>
    <sn-stack
      *ngIf="!!folder ? folder.screens.length > 0 : (spec.root.screens.length > 0 || spec.folders.length > 0);else noDataTemplate"
      [align]="ui.align.stretch"
      [gutter]="ui.gutter.huge">
      <ng-container *ngIf="!folder">
        <sn-row [spacing]="ui.gutter.huge" [align]="ui.align.stretch">
          <sn-col *ngFor="let f of spec.folders"
                  [tablet]="4"
                  [wide]="3">
            <sn-card data-folder [width]="ui.width.fluid"
                     [height]="ui.height.fluid"
                     [features]="[ui.feature.clickable]"
                     (selected)="open(f)">
              <sn-stack [align]="ui.align.stretch">
                <sn-stack [orientation]="ui.orientation.horizontal"
                          [align]="ui.align.center">
                  <sn-icon [icon]="localUi.icons.folder" [color]="ui.color.primary500"></sn-icon>
                  <b>{{f.name}}</b>
                </sn-stack>
              </sn-stack>
              <ng-template #cardActionsTemplate let-hide="hide">
                <sn-menu [orientation]="ui.orientation.vertical">
                  <sn-menu-item title="Rename"
                                [icon]="ui.icons.edit"
                                [analytics]="{ goal: 'rename_folder' }"
                                (click)="editFolder(f);hide()"></sn-menu-item>
                  <sn-menu-item title="Delete"
                                [icon]="ui.icons.delete"
                                [analytics]="{ goal: 'delete_folder' }"
                                (click)="confirmRemoveFolder(f);hide()"></sn-menu-item>
                </sn-menu>
              </ng-template>
            </sn-card>
          </sn-col>
        </sn-row>
      </ng-container>
      <sn-row>
        <sn-col *ngFor="let s of current.screens"
                [tablet]="4"
                [wide]="3">
          <sn-card [title]="s.name"
                   [width]="ui.width.fluid"
                   [features]="[ui.feature.clickable]"
                   (selected)="gotoScreen(s)">
            <sn-stack [align]="ui.align.stretch">
              <sn-picture [title]="s.name"
                          [src]="s.thumbnail"
                          height="150px"
                          [loading]="progress.screens[s.id]"
                          [fit]="ui.fit.width"
                          [position]="ui.position.top"></sn-picture>
              <ng-template *ngIf="s.pathRefs.length > 0 || !!s.error" #cardFooterTemplate>
                <p *ngIf="!!s.error" data-error>🥵 {{s.error}}</p>
                <sn-stack [orientation]="ui.orientation.horizontal"
                          [justify]="ui.justify.end">
                  <sn-label data-paths
                            [label]="s.pathRefs.length"
                            [color]="ui.color.secondary100"
                            [icon]="localUi.icons.path"
                            [size]="ui.size.small"></sn-label>
                </sn-stack>
              </ng-template>
            </sn-stack>
            <ng-template #cardActionsTemplate let-hide="hide">
              <sn-menu [orientation]="ui.orientation.vertical">
                <sn-menu-item title="Change"
                              [icon]="ui.icons.edit"
                              [analytics]="{ goal: 'change_screen' }"
                              (click)="editScreen(s);hide()"></sn-menu-item>
                <sn-menu-item *ngIf="project.figmaIntegration?.token"
                              title="Reload"
                              [icon]="ui.icons.reload"
                              [analytics]="{ goal: 'reload_screen' }"
                              (click)="loadScreen(s);hide()"></sn-menu-item>
                <sn-menu-item title="Delete"
                              [icon]="ui.icons.delete"
                              [analytics]="{ goal: 'delete_screen' }"
                              (click)="confirmRemoveScreen(s);hide()"></sn-menu-item>
              </sn-menu>
            </ng-template>
          </sn-card>
        </sn-col>
      </sn-row>

    </sn-stack>
  </ng-container>
</sn-stack>




