@import "src/variables";
@import "~@esanum/ui/lib/assets/styles/layout/responsive";
@import "~@esanum/ui/lib/assets/styles/elements/icon";

$sn-ng-deep: true;

:host {
  display: block;
  max-width: 400px;

  @include for-mobile() {
    max-width: 100%;
  }
}

[data-confirm] {
  text-align: center;

  [data-outer-icon] {
    padding: $sn-gutter-small;
    background: rgba(242, 95, 92, 0.2);
    border-radius: 50%;

    [data-inner-icon] {
      padding: $sn-gutter-small;
      background: $sn-accent-100-color;
      border-radius: 50%;
      @include sn-icon((color: $sn-white-color));
    }
  }
}
