@import '~@esanum/ui/lib/assets/styles/sn-variables';

$sn-font-family-base: 'Roboto Mono', monospace;
$sn-app-layout-font-family: 'Roboto Mono', monospace;

$sn-font-size-base: 14px;
$sn-corner-small: 4px;
$sn-corner-normal: 8px;
